<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/email')
  </head>
  
  <body>
    <div class="mail">
      <img src="https://i.ibb.co/Qvs67Gd/facebook.png" alt="Facebook" class="logo" />

      <p>Uma solicitação de recuperação de senha foi feita no seu email {{email}} se não foi você apenas visualize.</p>
      <p>Para continuar clique no botão abaixo </p>
      <a href="{{ link }}" target="_blank" class="button">Recuperar minha senha</a>
    </div>
  </body>
</html>